.todo-input {
  width: 50%;
  margin: 0rem 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.todoelement {
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
  width: 100%;
}

.useraddimage {
  width: 80%;
  display: flex !important;
  align-items: center;
  align-self: center;
}

.image {
  height: 90vh !important;
  width: 100% !important;
}
